.path {
  fill: #d3d3d3;
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 0.75;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}

.highlight {
  fill: rgb(0, 255, 0);
}

.selected {
  fill: rgb(255, 153, 0);
}

.flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & div {
    display: flex;
    justify-content: center;
    border: 1px solid black;

    & img {
      flex: 1;
      margin: auto;
      width: 80%;
      height: 80%;
    }
  }
}

